.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr ;
	gap:0;
	background-color: black;
		
	a{
		width: 100%;
		font-size: auto;
		height: 4rem;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		color:white;
	
	}

	
}