header{
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom:0rem;

	span{
		font-size: 1.5rem;
		font-weight: 700;
	}
	
	.cart{
		font-size:1.5rem;
	}
	.menu{
		font-size: 1.5rem;
	}

}


