.home{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-bottom:5rem;

	h1{
		font-weight: 400;
		font-size: 2rem;
	}

	.content{
		display:grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		
	}
}

