.card{
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	h3{
		text-transform: uppercase;
	}
	.price{
		text-transform: uppercase;
		padding: 1rem;
	}
	img{
		height:100%;
		width:100%;

	}
}

