@import '~@csstools/normalize.css';
@import "@fontsource/roboto-mono";



*{
  box-sizing: border-box;
  font-size:16px;
  color:#000;
}

input {
  all: unset;
}
button {
  border: 0;
  border-radius: 0.25rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: "Roboto Mono" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
