.product{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-bottom:5rem;
	.title_block{
		display:flex;
		flex-direction:row;

		.icon{
			font-size:5rem;
			cursor: pointer;			
			border: 2px solid #000000;
			border-radius: 100rem;
			margin-left: 3rem;
			
		}
		margin-bottom: 2rem;
	}
	h1{
		font-weight: 400;
		font-size: 2rem;
		text-transform: uppercase;
	}
	img{
		height:100%;
		width:100%;

	}
	.button{
	
		background-color: #000;
		color: #fff;
		padding:1rem 2rem;
		
	}
	.questions{
		display:grid;
		grid-template-columns:1fr;
		gap:0;
		width: 100%;
		.wrap-radio{
			width:100%;
			display:flex;
			.radio{
				display:flex;
				flex-direction:row;
				align-items:center;
				justify-content:center;
				width:100%;
				margin-bottom:1rem;
				
				.icon{
					font-size:2rem;
					margin-right:1rem;
				}
				label{
					
					padding: 1rem;
					font-size:1.5rem;
					&.active{
						border: 1px solid #000000;
					}
				}
			}
		}
		
		.question{
			width:100%;
			display:flex;
			flex-direction:row;
			justify-content:center;
			align-items:center;
			border: 1px solid #000000;
			padding:0.5rem;
			height:3rem;
			span{
				text-align:center;
				width:100%
			}
			input{
				text-align: center;
				width:100%;
				font-weight: bold;
			}
		}

		.icon{
			font-size: 3rem;
		}


	}
}